@import "../../../../data/config/styles/colors.scss";

.carouselItem {
    width: 100%;
    background-color: red;
}

.imageContainer {
    height: 200px;
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.carouselContainer {
    margin-bottom: 30px;
}

.previewOverlayContainer {
  z-index: 9999999;
  position: fixed;
  flex: 1;
  background-color: $black-overlay-light;
}

.slideNumberContainer {
    display: flex;
    justify-content: center;
}
